@import url("https://fonts.googleapis.com/css?family=Roboto");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: noto-sans-cjk-kr, sans-serif !important;
}

.se2_img_mo {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.pa-fixed-header {
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3) !important;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #565656;
  margin: 1em 0;
  padding: 0;
}

html,
body,
table,
input,
button,
textarea {
  font-size: 16px;

  color: #666;
  line-height: 1.4;
  letter-spacing: -0.6px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

div,
pre,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.625rem;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  word-break: keep-all;

  color: #fff;
  line-height: 1.6;
}

a {
  color: #000;
  outline: none;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
  color: black;
}

/* resizing */

.inner1720 {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px !important;
  padding-right: 15px !important;
  box-sizing: border-box;
}

.inner1600 {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px !important;
  padding-right: 15px !important;
  box-sizing: border-box;
}

.inner1430 {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px !important;
  padding-right: 15px !important;
  box-sizing: border-box;
}

.inner1200 {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px !important;
  padding-right: 15px !important;
  box-sizing: border-box;
}

/* resizing end */

/* header */

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header svg,
header img {
  width: 163px;
  height: 53px;
}

header nav ul li:not(:last-child) {
  margin-right: 70px;
}

header nav ul li a {
  color: #fff !important;
}

header nav ul li a:hover {
  color: #ae874e !important;
}

header.on {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

header.on #logo .cls-1 {
  fill: #333;
}

header.on nav ul li a {
  color: #333 !important;
}

header nav ul li:not(:last-child) {
  margin-right: 70px;
}

/* header ends */
/* gnb */

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.375rem;
}

.flexBox.aling-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexBox.just-betw {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 130px 10px 130px;
}

.flexBox.just-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* gnb */
#main_slider {
  display: none;
}

.main_img {
  height: 1200px;
}

.main_text {
  text-align: center;
  padding: 400px 80px 0 80px;
  font-size: 25px;
}

.main_img1 {
  background: url("/images/slide1.png") no-repeat 40% top/cover;
  background-size: cover;
  height: 100vh;
}

.main_img2 {
  background: url("/images/slide2.png") no-repeat center top/cover;
  background-size: cover;
  height: 100vh;
}

.main_img3 {
  background: url("/images/slide3.png") no-repeat center top/cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

/* section 2 */

.section2 {
  padding: 170px 0 115px;
  background-color: #fff;
}

.textleft {
  color: #000;
}

.section2_text_line {
  width: 50px;
  height: 2px;
  background-color: #000;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 21px;
}

#section2 .flexBox {
  display: flex;
}

.textleft h3 {
  padding-top: 30px;
}

/* section 3 */

.section3 {
  background: url("/images/secThreebg.png") no-repeat top/cover;
}

.section3_text_line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: 35px;
}

#section3 .secCover .inner1720>.flexBox {
  justify-content: space-between;
}

.secCover {
  display: grid;
  padding-top: 320px;
  align-items: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.secCover .redbox {
  align-self: flex-end;
  margin: 0;
  padding: 85px 170px;
  width: 100%;
  max-width: 1120px;
  background-color: #cc0000;
}

.secCover .inner1720 {
  display: flex;
  justify-content: flex-end;
}

.redbox h3 {
  font-size: 42px;
  font-weight: 400;
}

.redbox p {
  font-size: 30px;
}

.redbox p:last-child {
  font-size: 24px;
}

#section3_mo {
  display: none;
  background: url("/images/secThreebg.png") 18% no-repeat;
  background-size: cover;
}

#section3_mo .redbox_mo {
  background-color: #cc0000;

  padding: 65px 30px;
}

#section3_mo .redbox_mo .flexBox_mo {
  display: flex;
}

#section3_mo .redbox_mo .flexBox_mo>p {
  width: 100%;
  margin-left: 15px;
}

#section3_mo .redbox_mo .flexBox_mo .title {
  width: 410px;
}

#section3_mo .redbox_mo .flexBox_mo .title h3 {
  font-size: 42px;
  line-height: 45px;
  color: #fff;
  font-weight: 300;
  min-width: 410px;
}

#section3_mo .redbox_mo .title2 {
  margin-top: 35px;
}

#section3_mo .redbox_mo .title2>p {
  font-size: 30px;
  line-height: 40px;
}

#section3_mo .redbox_mo .title2>span {
  font-size: 24px;
  margin-top: 5px;
  display: inline-block;
}

/* 2nd box */

.whitebox {
  color: #000;
  width: 100%;
  max-width: 1283px;
  padding: 60px 90px;
  background-color: #fff;
}

.whitebox h4 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #070707;
}

.whitebox p {
  font-size: 16px;
  color: #333333;
}

.boxOne {
  background: url(/images/box1.png) right no-repeat;
  border-right: 1px solid #141414;
  padding: 100px 100px 0;
}

.boxTwo {
  background: url(/images/box2.png) right no-repeat;
  border-right: 1px solid #141414;
  padding: 100px 100px 0;
}

.boxThree {
  background: url(/images/box3.png) right no-repeat;
  padding: 100px 100px 0;
}

.whitebox_mo {
  color: #000;
  margin: 0px 30px;
  background-color: #fff;
}

.whitebox_mo h4 {
  font-size: 36px;
  color: #070707;
}

.whitebox_mo p {
  font-size: 16px;
  color: #333333;
}

.whitebox_mo>ul li {
  border-bottom: solid 1px #cfcfcf;
  padding-top: 120px;
  padding-bottom: 50px;
  margin: 0 50px 50px 50px;
}

.whitebox_mo>ul li:nth-child(1) {
  background: url(/images/da_mo_hover.png) right no-repeat;
}

.whitebox_mo>ul li:nth-child(2) {
  background: url(/images/wo_mo_hover.png) right no-repeat;
}

.whitebox_mo>ul li:nth-child(3) {
  background: url(/images/se_mo_hover.png) right no-repeat;
}

.whitebox .flexBox {
  position: relative;
  margin: 0 auto;
  height: 250px;
  justify-content: space-around;
}

/* section 4 */


/* kensington common main page style */
.mainpage .main_visual {
  position: relative;
}

.mainpage .main_visual .mainviewcont {}

.mainpage .main_visual .mainviewcont .swiper-wrapper {
  height: auto;
}

.mainpage .main_visual .mainviewcont .swiper-slide {
  cursor: pointer;
  height: 0;
  padding-top: 44%;
}

.mainpage .main_visual .mainviewcont .swiper-slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.mainpage .main_visual .mainviewcont .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, .1);
  z-index: 100;
}

.mainpage .main_visual .mainviewcont .swiper-slide .inlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 110;
}

.mainpage .main_visual .mainviewcont .swiper-slide .text_wrap {
  display: inline-block;
  margin: 180px 0 0 70px;
}

.mainpage .main_visual .mainviewcont .swiper-slide .text_wrap .title {
  display: block;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR';
  font-size: 64px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 0
}

.mainpage .main_visual .mainviewcont .swiper-slide .text_wrap .desc {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
}

.mainpage .main_visual .mainviewcont .swiper-slide .viewbg_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.mainpage .main_visual .mainviewcont .swiper-slide.hover .viewbg_wrap::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  z-index: 10;
}

.mainpage .main_visual.main_visual_prd .mainviewcont .swiper-slide.hover .viewbg_wrap::after {
  content: none
}

.mainpage .main_visual .mainviewcont .swiper-slide .viewbg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  -webkit-transition: transform 5s ease 1s;
  transition: transform 5s ease 1s;
}

.mainpage .main_visual .mainviewcont .swiper-slide .place {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  z-index: 99;
}

.mainpage .main_visual .mainviewcont .swiper-slide .place .tit_en {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.mainpage .main_visual .mainviewcont .swiper-slide .place .tit {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.mainpage .main_visual .mainviewcont .swiper-slide .info_txt {
  position: absolute;
  top: 150px;
  left: 40px;
  width: 275px;
  color: #fff;
  z-index: 1;
  word-break: keep-all
}

.mainpage .main_visual .mainviewcont .swiper-slide .info_txt .tit {
  margin-top: 20px;
  padding: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  line-height: 1.1;
  opacity: 0;
}

.mainpage .main_visual .mainviewcont .swiper-slide .info_txt .txt {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  opacity: 0;
}

.mainpage .main_visual .mainviewcont .swiper-slide .link_box {
  position: absolute;
  bottom: -300px;
  left: 0;
  width: 100%;
  z-index: 110;
  -webkit-transition: .7s;
  transition: .7s;
}

.mainpage .main_visual .mainviewcont .swiper-slide .link_box a {
  position: relative;
  display: block;
  min-height: 140px;
  margin-top: 0;
  padding: 30px 40px;
  background: #998068 url(../../images/ui/main_arr_link.png) no-repeat top 32px right 50px;
}

.mainpage .main_visual .mainviewcont .swiper-slide .link_box a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.mainpage .main_visual .mainviewcont .swiper-slide .link_box h3 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.mainpage .main_visual .mainviewcont .swiper-slide .link_box .txt {
  display: block;
  width: 100%;
  max-width: 275px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 22px;
  word-break: keep-all
}

.mainpage .main_visual .mainviewcont .swiper-slide.hover .viewbg {
  opacity: 1;
  z-index: 10;
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
  transform: scale(1.05);
}

.mainpage .main_visual .mainviewcont .swiper-slide.hover .info_txt {
  z-index: 100;
}

.mainpage .main_visual .mainviewcont .swiper-slide.hover .info_txt .tit {
  margin-top: 0;
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.mainpage .main_visual .mainviewcont .swiper-slide.hover .info_txt .txt {
  margin-top: 15px;
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

.mainpage .main_visual .mainviewcont .swiper-slide.hover .link_box {
  bottom: 0;
}

.mainpage .main_visual .mainviewcont .swiper-slide.hover::before {
  background-color: rgba(0, 0, 0, .3)
}

.mainpage .main_visual.main_visual_prd .mainviewcont .swiper-slide.hover::before {
  background: none
}

.mainpage .main_visual .mainviewcont.hover .swiper-slide .place {
  top: inherit;
  bottom: 80px;
  opacity: .5;
}

.mainpage .main_visual .swiper-button-next,
.mainpage .main_visual .swiper-button-prev {
  display: none;
  top: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
}

.mainpage .main_visual .swiper-button-next {
  right: 0;
  background: rgba(0, 0, 0, .7) url(../../images/ui/paging_next3.png) no-repeat 50% 50%;
}

.mainpage .main_visual .swiper-button-prev {
  left: 0;
  background: rgba(0, 0, 0, .7) url(../../images/ui/paging_prev3.png) no-repeat 50% 50%;
}

.mainpage .main_visual .swiper-button-next.swiper-button-disabled,
.mainpage .main_visual .swiper-button-prev.swiper-button-disabled {
  pointer-events: inherit
}

.mainpage .main_visual .scroll_box {
  position: absolute;
  right: 28px;
  bottom: 40px;
  z-index: 90;
}

.mainpage .main_visual .scroll_box .scroll_wrap {
  position: relative;
  display: block;
  width: 2px;
  height: 150px;
  margin: 0 auto 30px;
  background-color: rgba(255, 255, 255, .3)
}

.mainpage .main_visual .scroll_box .scroll_wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: top .5s;
  transition: top .5s;
}

.mainpage .main_visual .scroll_box .txt {
  display: block;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  letter-spacing: .3em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.mainpage .main_visual .mainviewcont.hover .scroll_box {
  opacity: 0;
}

.main_showcase .swiper-button-next,
.main_showcase .swiper-button-prev {
  top: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
}

.main_showcase .swiper-button-next {
  right: 0;
  background: rgba(0, 0, 0, .7) url(../../images/ui/paging_next3.png) no-repeat 50% 50%;
}

.main_showcase .swiper-button-prev {
  left: 0;
  background: rgba(0, 0, 0, .7) url(../../images/ui/paging_prev3.png) no-repeat 50% 50%;
}

.main_showcase .swiper-button-next.swiper-button-disabled,
.main_showcase .swiper-button-prev.swiper-button-disabled {
  pointer-events: inherit
}

.mainpage .link {
  display: inline-block;
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #999;
  border-bottom: 1px solid #666;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed {
  position: relative;
  padding-top: 41.7%;
  overflow: hidden;
  min-height: 820px;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap {
  position: absolute;
  top: 0;
  height: 100%;
  background-size: auto;
  background-position: auto;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap .viewbg {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  transition: opacity .1s ease, transform 5s ease 1s;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap.hover {
  z-index: 1;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap.hover .viewbg {
  visibility: visible;
  opacity: 1;
  transform: scale(1.03);
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 10;
  table-layout: fixed;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a {
  position: relative;
  display: table-cell;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap {
  position: absolute;
  top: 30%;
  left: 25%;
  right: 25%;
  display: block;
  text-align: center;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap .title {
  display: block;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR';
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0;
  opacity: 0.3;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap .desc {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  line-height: 1.0;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.on {
  background: rgba(0, 0, 0, 0.4);
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.on .text_wrap {}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.off {
  background: none;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.off .text_wrap {
  opacity: 0.5;
}







/* .section4 .jb-table-cell:hover {
  background-image: url(/images/namingover.png);
  position: relative;
  top: 0;
  left: 0;
  display: table-cell;
  width: 100%;
  height: 100%;
  table-layout: fixed;}

.section4 {
  background: url(/images/secfault.png) top no-repeat;
  position: relative;
  display: table;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  table-layout: fixed;
} */

/* mobile area */


#section4_mo {
  background: url(/images/section4_mo_bg.png) top no-repeat;
  display: none;
}

#section4_mo .section4_area {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 62px;
}

#section4_mo .section4_area h3 {
  font-size: 42px;
  line-height: 50px;
}

#section4_mo .section4_area>p {
  font-size: 24px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

#section4_mo .section4_area>ul li {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  padding: 90px 0;
  border-bottom: 1px solid #ccc;
}

#section4_mo .section4_area>ul li>p {
  color: rgb(255 255 255 / 30%);
  font-size: 28px;
  line-height: 35px;
}

.titleFour {
  position: absolute;
  text-align: center;
  top:13%;
  left: 50%;
  transform: translateX(-50%);
}

.titleFour p {
  font-size: 24px;
}

.jb-table-row {
  display: table-row;
}

.jb-table-cell {
  width: 25%;
  vertical-align: middle;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: table-cell;
  padding: 0px 20px;
  height: 100%;
  text-align: center;
  transition: all 0.3s ease-out;
}

.jb-table-cell:hover .hidden {
  display: inline-table;
}

.jb-table-cell:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
  font-size: 18px;
  width: 300px;
  text-align: left;
  color: #ccc;
}

.hidden .descript {
  color: #fff !important;
  margin-bottom: 30px;
}


.num {
  opacity: 0.3;
  font-size: 28px;
  font-weight: 700;
}

.tit {
  font-size: 36px;
  font-weight: 700;
}

/* section 5 */

.section5 {
  background: url(/images/pfBg.png) top/cover no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

.section5 .flexBox {
  justify-content: center;
  padding-top: 90px;
}

.leftFive p {
  font-size: 24px;
}

.rightFive {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  width: 300px;
  height: 300px;
}

.first {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 0 0 30px;
}

.first h3 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.first_01 .tbox>span {
  display: inline-block;
  font-size: 16px;
  color: #f9d02a;
  font-weight: 600;
  width: 87%;
  text-align: right;
}

.first_03 .tbox>span {
  width: 78%;
  text-align: right;
}

.first_01 {
  padding-top: 55px;
}

.first_02 {
  padding-top: 115px;
}

.first_03 {
  padding-top: 55px;
}

.first_04 {
  padding-top: 125px;
  padding-left: 20px;
}

.first_02 .tbox>span {
  margin-left: 17px;
}

.first p {
  font-size: 16px;
  color: #eaeaea;
  font-weight: 400;
}

.tbox span {
  display: inline-block;
  font-size: 16px;
  color: #f9d02a;
  font-weight: 600;
}

.boxBorder {
  border: 1px solid #fff;
}

.bgopacity {
  background-color: rgba(255, 255, 255, 0.2);
}

#section5_mo {
  background: url(/images/pfBg.png) 70% no-repeat;
  display: none;
}

.section5_mo_title {
  text-align: center;
  padding: 80px 0;
}

.section5_mo_slide_bg {
  background-color: rgb(255 255 255 / 20%);
  border: solid #fff 1px;
  position: relative;
  width: 450px;
  height: 450px;
  margin: 100px auto 200px;
}

.slide_ab {
  position: absolute;
  bottom: 20px;
  left: 35px;
}

.section5_mo_slide_bg .slide_ab>p {
  text-align: right;
  font-size: 16px;
  color: #f9d02a;
}

.section5_mo_slide_bg .slide_ab>h2 {
  font-size: 48px;
  color: #eaeaea;
  font-weight: 600;
}

.section5_mo_slide_bg .slide_ab>ul {}

.section5_mo_slide_bg .slide_ab>ul li {
  font-size: 16px;
  color: #eaeaea;
  font-weight: 400;
}

.swiper-pagination {
  bottom: 130px !important;
}

#co_wit .swiper-pagination-bullet {
  border: solid #fff 1px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  opacity: 1;
  margin: 0 2.5px;
}

#co_wit .swiper-pagination-bullet-active {
  width: 50px;
  background-color: #fff;
  border-radius: 15px;
}

/* section 6 */

.section6 {
  background-color: #f5f5f5;
  padding: 100px 0 200px 0;
}

.section6 h3 {
  color: #000;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 60px;
}

.accordion {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 30px 40px;
  width: 100%;
  font-weight: 700;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
}

.accordionWrap {
  margin-bottom: 20px;
}

.accordion span,
.panel span {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  padding-right: 40px;
}

.panel span {
  margin-top: -5px;
}

.active,
.accordion:hover {
  background-color: #fff;
}

.accordion:after {
  align-items: center;
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  color: #000;
  padding: 0 40px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  color: #888888;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* section 7 */

.section7 {
  background: linear-gradient(0deg, #fafafa 50%, #fff 50%);
  padding: 100px 0 140px 0;
}

.section7 .flexBox {
  flex-direction: column;
}

.section7 h3 {
  color: #000;
  font-size: 42px;
  font-weight: 900;
}

.section7 p {
  font-size: 24px;
  color: #000;
}

.videoWrap {
  color: #000;
  font-size: 36px;
  margin: 145px 0 0;
}

.videoWrap h4 {
  font-weight: 400;
  margin-bottom: 20px;
}

.videoWrap .flexBox {
  flex-direction: initial !important;
}

.videoWrap .youtube_bg {
  width: calc(100% - 150px);
  width: 100%;
  max-width: 870px;
  position: relative;
  padding-top: 56.25%;
  padding-top: 42.75%;
}

.videoWrap .youtube_bg iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.redarea {
  background-color: #cc0000;
  width: 150px;
  height: 150px;
}

.redarea div {
  padding: 37px 0;
  text-align: center;
}

.redarea p {
  color: #fff;
}

/* section 8 */

.section8 {
  background-color: #242424;
  margin-top: 50px;
  position: relative;
  padding: 100px 0;
}

.section8 h3 {
  font-size: 42px;
  padding-right: 3px;
}

.section8 h3 span {
  font-size: 24px;
  color: #cacaca;
}

.maP {
  position: absolute;
  right: 0;
  top: -50px;
}

.waysTitle {
  margin-bottom: 138px;
}

.waysTitle p {
  font-size: 20px;
  color: #d5d5d5;
  font-weight: 300;
}

.footer {
  background-color: #242424;
}

.section8 .flexBox a {
  color: #a7a7a7;
  line-height: 2;
  margin-right: 50px;
  padding-right: 50px;
  border-bottom: 2px solid #a7a7a7;
}

.section8 .flexBox a img {
  padding-right: 15px;
}

/* footer */

footer {
  background-color: #242424;
  padding: 50px 0;
}

footer img {
  line-height: 2;
}

footer p {
  color: #9f9f9f;
  font-size: 16px;
  padding-right: 25px;
}

.copyright {
  margin: 50px 0 0;
}

.blue {
  position: fixed;
  top: 0;
  background: blue;
  width: 100%;
  height: 50px;
}



.viewbg_wrap:first-of-type {
  background-position-x: 0%;
}

.viewbg_wrap:nth-of-type(2) {
  background-position-x: 34%;
}

.viewbg_wrap:nth-of-type(3) {
  background-position-x: 67.5%;
}

.viewbg_wrap:nth-of-type(4) {
  background-position-x: 100%;
}


.visual a:hover .hidden {
  display: inline-block !important;
  transition: 0.3s ease-in-out;
}


.titleFour {
  z-index: 33;
}


.navbar {}

.navbar .flexBox.just-betw {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .flexBox.just-betw .inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-width: 1720px;
  margin: 0 auto;
}

.navbar .hamberger {
  display: none;
  padding: 10px 0;
  border: 0;
  background: transparent;
  z-index: 1;
  outline: 0;
}

.navbar .hamberger span {
  display: block;
  background: #fff;
  width: 30px;
  height: 2px;
}

.navbar .hamberger span+span {
  margin-top: 8px;
}

header nav.ac {
  top: 0;
  opacity: 1;
  height: 100vh;
}

#myTopnav {
  flex: 0 0 auto;
}

#myTopnav ul {
  width: 940px;
  max-width: 70vw;
  justify-content: space-between;
}

#myTopnav ul li {
  margin: 0 !important;
}

#daumRoughmapContainer1657520046920 {
  max-width: 50vw;
  width: 994px !important;
}

.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap.hover .viewbg {
  width: 100vw !important;
}